<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Recipe book</span>
        <a href="{{ url_for('home') }}"><span class="d-none d-lg-block"><img
                class="img-fluid img-profile rounded-circle mx-auto mb-2"
                src="{{ url_for('static', filename='assets/img/book.jpg') }}"
                alt="..."/></span> </a>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('all_recipies', category='soups')}}">Soups</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('all_recipies', category='main course')}}">Main course</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('all_recipies', category='desserts')}}">Desserts</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('all_recipies', category='beverages')}}">Beverages</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('all_recipies', category='all')}}">All
                recipies</a></li>
        </ul>
    </div>
</nav>

</body>
</html>